@font-face {
    font-family: 'CERN-www Headline Bold Web';
    src:    url('CERN-www-headline-bold.woff') format('woff'),
            url('CERN-www-headline-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CERN-www 16 Oblique Web';
    src:    url('CERN-www-oblique-16.woff') format('woff'),
            url('CERN-www-oblique-16.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'CERN-www 14 Bold Web';
    src:    url('CERN-www-bold-14.woff') format('woff'),
            url('CERN-www-bold-14.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Ohlfs Mono */

@font-face {
    font-family: 'CERN-www Mono Web';
    src:    url('CERN-www-mono.woff') format('woff'),
            url('CERN-www-mono.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Text family */

@font-face {
    font-family: 'CERN-www Web';
    src:    url('CERN-www-regular.woff') format('woff'),
            url('CERN-www-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CERN-www Web';
    src:    url('CERN-www-regular-oblique.woff') format('woff'),
            url('CERN-www-regular-oblique.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'CERN-www Web';
    src:    url('CERN-www-regular-bold.woff') format('woff'),
            url('CERN-www-regular-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CERN-www Web';
    src:    url('CERN-www-regular-bold-oblique.woff') format('woff'),
            url('CERN-www-regular-bold-oblique.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
